:root {
    --border-radius: 25px;
    --bg-clr-1: #fff;
    --bg-clr-2: #DBE9EE;
    --gallery-bg-clr-2: #4f4f4f;
    --page-bg-clr: #f7f7f7;

    --container-width: 800px;
    --gallery-width: 300px;
}

body {
    background-color: #6D8A96;
    margin: 20px 0 0 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-container {
    width: 100%;
    max-width: var(--container-width);
    position: relative;
    min-height: 50px;
    margin: 20px auto 0 auto;
}

.item-container > div {
    position: relative;
    background-color: var(--page-bg-clr);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: #fff;
    transition: max-height 500ms cubic-bezier(0, 1.05, 0, 1);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}

.item-container > input {
    position: absolute;
    left: -9999px;
}

.item-container > label {
    position: absolute;
    background-color: var(--bg-clr-2);
    width: 500px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font: 1.4em sans-serif;
    padding: 0.6em 0.6em 0.6em 1.2em;
    border-radius: var(--border-radius);
    transition: box-shadow 400ms;
    transition-delay: 100ms;
}

.item-container > input:checked ~ div {
    max-height: 3000px;
    transition: max-height 500ms cubic-bezier(1.000, 0.080, 1.000, 0.335);
}

.item-container > input:checked ~ label {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 0;
    margin: 0 0 0 auto;
    background-color: white;
    background-image: url(close.svg);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: 0 0;
    box-shadow: 0px 0px 10px white;
    transform: none;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.item-container > input:checked ~ label span {
    display: none;
}

.collapsible-container {
    padding: 0;
}

.collapsible-container h2 {
    margin: 0;
    padding: 0 0 0 10px;
    color: white;
    font-family: Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-size: 32px;
    font-weight: 700;
    background-color: black;
}

@media screen and (max-width: 768px) {

    .item-container > div > div {
        flex-direction: column-reverse;
    }
}

/* Text container */

.text-container {
    width: calc(var(--container-width) - var(--gallery-width));
    display: inline-block;
    padding: 0;
    font-family: arial,sans-serif;
    font-size: 1.2rem;
}

.text-container p {
    padding: 0 10px;
    font-family: arial,sans-serif;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {

    .text-container {
        width: 100%;
        max-width: initial;
    }
}

/* Gallery container */

.gallery {
    width: var(--gallery-width);
    padding: 10px;
    background-color: var(--gallery-bg-clr-2);
    display: inline-block;
    column-count: 2;
    column-gap: 10px;
    column-fill: balance;
    float: left;
}

.gallery-single {
    column-count: initial;
    padding: 20px;
}

.image-container {
    border: 2px solid black;
    padding: 2px;
    background-color: white;
    margin-bottom: 0;
}

.image-container img {
    border: 2px solid black;
    width: 100%;
    cursor: pointer;
}

.image-container p {
    padding: 5px;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .gallery {
        width: 100%;
        max-width: initial;
    }
}

/* Labels */

label.taj {
    background-image: url("gfx_taj.png");
    background-position: 360px -10px;
    background-repeat: no-repeat;
    background-size: 150px;
}

label.pus {
    background-image: url("gfx_pus.png");
    background-position: 360px -20px;
    background-repeat: no-repeat;
    background-size: 30%;
}

label.mas {
    background-image: url("gfx_mas.png");
    background-position: 360px 0px;
    background-repeat: no-repeat;
    background-size: 27%;
}

label.aks {
    background-image: url("gfx_aks.png");
    background-position: 360px 0px;
    background-repeat: no-repeat;
    background-size: 27%;
}